@model Ronish.Models.StudentDetails

<h2>Student Details</h2>
<p>Name: @Model.Name</p>
<p>Email: @Model.Email</p>
<p>Address: @Model.Address</p>
<p>Phone Number: @Model.PhoneNumber</p>
<p>Course: @Model.Course</p>
